.env
.env.php
.env.*.php

.idea/
.editorconfig

vendor/*
/vendor/*
node_modules/*
/node_modules/*
npm-debug.log

/public/storage
/public/hot
/storage/*.key
/storage
/storage/*

Homestead.yaml
Homestead.json
yarn-error.log
.phpunit.result.cache

.vscode/
resources/js/scripts.js
